$text-color: red;
$background-color: #f5f5f5;
$secondary-background-color: white;
$global-text-color: #4054b2;
$global-color: #4054b2;
$global-border-color: rgba(60, 60, 60, 0.25);
$button-color: rgb(6, 150, 215);
$global-secondary-border-color: rgb(132, 169, 238);
$flat-color: #29abe2;