.categories {
    border-bottom: 1px solid var(--global-border-color);
    padding-bottom: 20px;
    padding-left: 0;
    margin-right: 20px;
}

.categories h2 {
    color: var(--global-text-color);
    margin-top: -10px;
}

.categories li {
    margin-top: 20px;
}

.categories li a {
    color: var(--global-text-color);
}

.categories li a:hover {
    font-weight: 700;
}