.categories {
  border-bottom: 1px solid rgba(60, 60, 60, 0.25);
  padding-bottom: 20px;
  padding-left: 0;
  margin-right: 20px; }

.categories h2 {
  color: #4054b2;
  margin-top: -10px; }

.categories li {
  margin-top: 20px; }

.categories li a {
  color: #4054b2; }

.categories li a:hover {
  font-weight: 700; }
