body {
  font-family: "Artifakt Element", Arial, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  background-color: #f5f5f5;
  min-height: 100vh; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.container {
  margin: auto;
  flex-grow: 1; }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate; }

p {
  color: #3c3c3c; }
