.header-container {
  background-color: white;
  height: 80px;
  align-content: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.allto-logo {
  height: 50px; }

.header-right {
  display: flex;
  justify-content: center;
  align-items: center; }

.header a {
  color: #4054b2; }

.more-plugin {
  margin-right: 10px; }

.login {
  padding-left: 10px;
  border-left: 1px solid rgba(60, 60, 60, 0.25); }

.signup {
  margin-right: 10px; }

.header a:hover {
  font-weight: 700; }

.dropdown-toggle {
  background-color: #4054b2; }

.dropdown-toggle:hover {
  background-color: #4054b2; }

.dropdown-item {
  color: #4054b2; }

.dropdown-item:hover {
  color: #4054b2;
  font-weight: 700; }
