.container {
  align-content: center; }
  .container .btn {
    width: 90px;
    background-color: #4054b2;
    color: white; }
  .container .btn:hover {
    background-color: #1f338d;
    color: white; }

.profile-container {
  display: grid;
  grid-template-columns: 200px 400px;
  width: 620px;
  column-gap: 20px;
  margin-left: auto;
  margin-right: auto; }

.icon-container {
  display: flex;
  flex-direction: column; }
  .icon-container #profile-icon {
    border: 1px solid #4054b2;
    background: #F2F2F2;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .icon-container .icon-button {
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    margin-top: 10px; }

.right-container {
  display: flex;
  flex-direction: column; }
  .right-container label {
    color: #4054b2; }
  .right-container .infor-container input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px; }
  .right-container .social-container {
    background-color: red; }
