.preview-content {
  position: relative;
  padding: 0; }

.preview-container {
  position: relative; }

#image-viewer, #video-viewer {
  margin: auto;
  border: 0;
  width: 100%;
  height: auto;
  border: solid 1px #84a9ee; }

.thumbnail-content {
  position: relative;
  display: block;
  padding: 0; }

.thumbnail-container {
  position: relative;
  overflow: hidden; }

.thumbnail-slider {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  height: 140px;
  gap: 10px;
  transition: 800ms ease 0s; }

.thumbnail-item {
  float: left;
  list-style: none;
  position: relative;
  border: solid 1px #84a9ee;
  flex: 0 0 calc((100% - 50px) / 6);
  /* Distribute equally among 6 items with space gap */
  max-width: calc((100% - 50px) / 6);
  /* Set maximum width for each item */
  text-align: center; }

.thumbnail-image-container {
  margin: 0;
  padding: 0;
  float: left; }
  .thumbnail-image-container a {
    cursor: pointer; }
  .thumbnail-image-container a:visited {
    color: #08e;
    list-style: none; }
  .thumbnail-image-container img {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

#nextBtn, #prevBtn {
  background: transparent url(https://s3.amazonaws.com/apps-build-content/appstore/1.0.0.120-PRODUCTION/Content/images/icons/carousel/icon_slideshow_triangle.png) no-repeat 0 0;
  position: absolute;
  top: calc((100% + 12px) / 2);
  width: 12px;
  height: 16px;
  cursor: pointer;
  color: #222;
  z-index: 100; }
  #nextBtn:hover, #prevBtn:hover {
    color: black; }

#prevBtn {
  left: 5px; }

#nextBtn {
  background: transparent url(https://s3.amazonaws.com/apps-build-content/appstore/1.0.0.120-PRODUCTION/Content/images/icons/carousel/icon_slideshow_triangle.png) no-repeat 0 -60px;
  right: 5px; }
