<div class="header-container">
    <div class="header">
        <a href="">
            <img class="allto-logo" src="/img/icons/allto-logo.png" alt="">
        </a>

        <div class="header-right">
            <a class="more-plugin" href="">MORE PLUGINS</a>
            <a class="login" href="">LOGIN</a>
        </div>
    </div>
</div>