<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="/css/category.css">

<div class="main-container">
    <div class="main">
        <div class="left-section">
            <ul class="categories">
            </ul>
        </div>

        <div class="right-section">
            <div class="search-container">
                <input class="search-bar" type="text" placeholder="Search pythonpart here...">
            </div>
            <div class="content-section">
                <div class="products">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="scripts/home.js"></script>