<link rel="stylesheet" href="/css/register.css">

<div class="border-wrapper" style="margin: 250px auto">
    <div class="form-container">
        <h2>Login</h2>
        <form action="/login" id="loginForm" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p id="error-message"></p>
    </div>
</div>

<script>
        // JavaScript code to extract and display error message from URL query parameter
        const urlParams = new URLSearchParams(window.location.search);
        const errorMessage = urlParams.get('error');
        if (errorMessage) {
            document.getElementById('error-message').innerText = errorMessage;
        }
    </script>